#countLabel{
  display: block;
  text-align: center;
  font-size: 25em;
  font-family: Helvetica;
  transition: 2.5s;
}

#btnCountainer{
  text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 5em;
  color: white;
  background-color: rgb(11, 96, 138);
  border-radius: 15px;
  cursor: pointer;
  border: 0cm;
  transition: .5s;
  float: center;
  padding-right: 10px;
}

.buttons:hover{
  opacity: .7;
}

.buttons:active{
  transform: scale(0.97);
}
